.root
  flex: 1
  display: flex
  flex-direction: column
.layout-master-detail
  flex: 1
  display: flex
  &__master
    width: 120px
  &__detail
    flex: 1
.layout-master-detail__master
  width: 144px
.layout-master-detail__detail
  flex: 1
  padding-left: 16px
