{
  "only": "./src/client/components",
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-es2015-classes",
    [
      "babel-plugin-webpack-loaders",
      {
        "config": "./transpile-configs/server.js",
        "verbose": false
      }
    ]
  ]
}
