{
  "only": "./src/components",
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-es2015-classes",
    [
      "babel-plugin-webpack-loaders",
      {
        "config": "./webpack-config/server.js",
        "verbose": false
      }
    ]
  ]
}
