:global(html),
:global(body) {
  height: 100%;
}

:global(body) {
  margin: 0;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, YuGothic, "Yu Gothic", 游ゴシック体, 游ゴシック, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS ゴシック", "MS Gothic", sans-serif;
}

:global(#application-container) {
  display: flex;
  flex: 1;
  margin: 0;
}
